* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  ol,
  ul,
  menu {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  
  html,
  body {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
  }
  
  .container {
    max-width: 1240px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .game{
    overflow: hidden;
    height: 100vh;
    background-image: url(./img/fon__game.jpg);
  }

  .game__title{
    font-size: 48px;
    background-color: #1a1a1a;
    padding: 0 20px;
    border-radius: 20px;
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
  }
  .start{
    font-size: 34px;
    color: #fff;
    background-color: #333;
    padding: 0 20px;
    border-radius: 20px;
  }
  .start:hover{
    color: #9b9b9b;
  }

  .screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    transition: margin 0.5s ease-out;
  }
  
  .screen.up{
    margin-top: -100vh;
  }

  .time__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    gap: 5px;
  }
  .time__btn{
    background-color: transparent;
    border: 2px solid #c0c0c0;
    cursor: pointer;
    padding: 5px 10px;
    color: #fff;
    font-size: 18px;
  }

  .game__time{
    margin-bottom: 15px;
    font-size: 28px;
    color: #fff;
  }

  .board{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 500px;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(90deg, #c0c0c0 0%, #6e6e6e 100%);
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 20px;
  }



  .game__new{
    font-size: 18px;
    background-color: #333;
    padding: 5px 20px;
    border-radius: 20px;
    color: #fff;
    border: 1px solid #1c211b;
  }

  .hide{
    opacity: 0;
  }

  .circle{
    background-image: url(./img/apple.svg);
    background-size: cover;
    cursor:pointer;
    position: absolute;
  }

  @media screen and (max-width:768px) {
    .game__title{
      font-size: 32px;
      margin-bottom: 0;
      margin-top: 10px;
    }
    .game__new{
      margin-bottom: 10px;
    }
  }

  